<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>GitLab</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>GitLab</key>
		<dict>
			<key>Assignee</key>
			<data>
			lAi2CXxgZFp85GMZSpp9zoh/BqtZa0g3f2HWi6u9Fpo=
			</data>
			<key>Author</key>
			<data>
			DbcOaVnosckri4MAgT3q7VOIcQeBW9AGbM7P2PU+ZNw=
			</data>
			<key>Domain</key>
			<data>
			8nJJHFfVxCBmS95WC+V2V0BjB8U49TKw1JyXlnYeaQg=
			</data>
			<key>Filter</key>
			<data>
			jPdfIghIfz8j74Xz5bURDoW85f/9cMhdFzdZA4acLaM=
			</data>
			<key>Issue</key>
			<data>
			gX2q9GC3vaF44A012fSI/rptseSyM6iRl/WP2tejqQ8=
			</data>
			<key>MergeRequest</key>
			<data>
			gmqazBmEKNvNRbrWy2L8P7j9/i47qdli3RGOzjB5zCk=
			</data>
			<key>Milestone</key>
			<data>
			f4CMNRBaqQJnq6szbvvFwbOuWh/M6I1tCHoIYXCH/3s=
			</data>
			<key>Note</key>
			<data>
			fOA9VYn8/TJaDPWNYscMVjerW14nfQ9DvfgzYFj5bQU=
			</data>
			<key>Owner</key>
			<data>
			kPdvWnKNvGMhRxFFX5cYqHXqEd/mHZBiV9R1IqaoS1A=
			</data>
			<key>Project</key>
			<data>
			WcMbwLN890YKdGUGg1cuSt2it3GvDsqGd1XYDyMITXA=
			</data>
			<key>SSH_key</key>
			<data>
			+lQbY9g/aXWNcKxgVgZDTEw8ig6Xg/tXi/Id/BIiGJQ=
			</data>
			<key>Session</key>
			<data>
			TC3dilTRJhM7FJBnHsXd0HpqKu27s16LjqSd4h6JdQU=
			</data>
			<key>Snippet</key>
			<data>
			DJK2h6BwgYnizC5uMxEzG3Gq9OXWmEwo03SvbRcwJPM=
			</data>
			<key>User</key>
			<data>
			FPHN9EjecgPFiqC1IzyDX/6Kbks2XvUPFJmwQxTkJ7o=
			</data>
		</dict>
	</dict>
</dict>
</plist>
